<div class="main_container">
    <button class="cancel_button" (click)="cancelChooseRecipe()">Annuler</button><br/>
    <button class="nothing_button" (click)="chooseRecipe('')">Rien</button><br/>
    <h1>Choisissez un plat</h1>
    <br/>
    <div class="recipe_list">
        <div class="recipe_item" *ngFor="let recipe of recipes" (click)="chooseRecipe(recipe)">
            <div class="image_container">
                <img class="recipe_item_image" [src]=recipe.image_url />
            </div>
            <div>{{recipe.name}}</div>
        </div>
    </div>
</div>